@use "sass:map";

$breakpoints: (
  mobile: 374px,
  mobile-large: 427px,
  tablet-small: 599px,
  tablet: 767px,
  tablet-large: 1023px,
  laptop: 1279px,
  desktop: 1439px,
  desktop-large: 1900px,
);

@function breakpoint($name) {
  @return map.get($breakpoints, $name);
}
